@import url(reset.css);

body{
	flex-direction: column;
	background-color: lightgrey;
}
div {
	height: 30px;
	margin-bottom: 10px;

}

h1 {
	font-weight: bold;
	line-height: 24px;
}
/*section {
	padding-top: 10px;
	padding-bottom: 10px;
}*/
