section{
	color: blue;
}
div{
	color: orange

}
.second{
	color: green;
}

#section2{
	color: pink;
}
footer div{
	color: red;
}
nav, h2{
	color: grey;

}
html {
	background: purple;
}
main .firstsection{
	background: lightblue;
}