@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Mukta');
@import url(https://fonts.googleapis.com/css?family=Sawarabi+Gothic|Caveat|Indie+Flower|Quicks|Forum|Marck+Script|);


.page{
	width: 1000px;
	margin: 0px auto;
}

.top {
	display: flex;
	flex-direction: row;
	height: 70px;
	width: 1000px;
	color: #F4EEDD;
	background: radial-gradient(ellipse,#000000 1%, #2F4F4F 90%);
	box-shadow: 0 0 7px grey;
	line-height: 70px;
	border: 1px solid transparent;
	box-sizing: border-box;
	justify-content: space-between;
	border-radius: 10px;
}

.top_text,.text-box {
	font-weight: bolder;
}

h1 {
	vertical-align: middle;
	margin-left: 20px;
	font-family: 'Indie Flower', cursive;
	font-size: 25px;
}
h2{
	color: #666666;
	font-weight: bold;
}

.main_links{	
		vertical-align: middle; 
		margin-right: 20px;
		flex-wrap:  nowrap;
		font-size: 20px;
}

 a {
 	font-family: 'Forum', cursive;
	padding-left: 10px;
	color: #F4EEDD;
	text-decoration: none;
 }
.containing {
	background-image: url(../img/005.jpg);
	background-size: cover;
	height: 400px;
	width: 1000px;
	justify-content: center;
	border-radius: 10px;
	box-shadow: 0 0 7px #2F4F4F;
	/*border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;*/
}

.main_title{	
	padding-top: 20px;
	color: white;
	font-size: 60px;
	text-align: center;
	font-family: 'Caveat', cursive;
	letter-spacing: 2px;
	color: #CCCCCC;
}
.top_text{
	display: flex;
	flex-direction: column;
	width: 600px;
	top: 30px;
	margin: auto;
	bottom: 100px;
	box-shadow: 0px 0px 8px #2F4F4F;
	border-radius: 10px;
	position: relative;
	padding: 10px;
	background-color: #F5FFFA;
}
.text_two{
	padding-top: 15px;
}

img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
}
section{
	margin-top: 100px;
	margin-bottom: 100px;
	width: 1000px;
	flex-wrap: nowrap;
	flex-direction: row;
	display: flex;
	justify-content: space-around;
}

.bottom-box{
	display: flex;
	flex-shrink: row;
	justify-content: space-between;
	width: 600px;
	margin: auto;
	box-shadow: 0px 0px 8px #2F4F4F;
	border-radius: 10px;
	padding: 10px;
	top:100px;
	bottom: 30px;
	background-color: #F5FFFA;
}

.bottom-box img{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	padding: 10px 10px 0 0;
}

.bottom {
	position: relative;
	top: 100px;
	height: 70px;
	width: 1000px;
	color: #F4EEDD;
	background: radial-gradient(ellipse,#000000 1%, #2F4F4F 90%);
	font-size: 25px;
	line-height: 70px;
	border-radius: 10px;
	box-shadow: 0 0 7px grey;
}