@import url(reset.css);

.flex-container{
	height: 300px;
	background-color: blue;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: space-around;

}

.flex-item{
	height: 100px;
	background-color: orange;
	width: 250px;
	
}