@import url(reset.css);

@keyframes moving {
	 from {
	 	top:0;
	 	left:0;
	 }
	 to{
	 	top:300px;
	 	left:500px;
	 	background-color: olive;
	 }
}

body{
	background: lightpink;
}
.ball{
	width: 200px;
	height: 200px;
	background-color: orange;
	border-radius: 100px;
	position: relative;
	animation-name: moving;
	animation-duration: 2s;

}
