@import url(reset.css);

.columns{
	min-height: 500px;
	border: 1px solid black;
	display: flex;
}
.column2{
	width: 240px;
	height: 720px;
	background-color: orange;
}
.column1{
	height: 1020px;
	background-color: pink;
	width: calc(100% - 240px);
}
.columns2{
	min-height: 500px;
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
}
.column4{
	width: calc((100% - 80px)/3);
	height: 100px;
	background-color: yellow;
	}
.column5{
	width: calc((100% - 80px)/3);
	height: 100px;
	background-color: red;
}
.column6{
	width: calc((100% - 80px)/3);
	height: 100px;
	background-color: olive;